In [1]:
import numpy as np
import pandas as pd
import datetime

In [7]:
valid_travel_link_df = pd.read_csv('../data/preprocess/valid_travel_link.csv', parse_dates=['date', 'twenty_minutes_date', 'start_time'])

In [8]:
link_df = pd.read_csv('../data/original/links (table 3).csv', index_col=0)

# 时间区间 ：7月19日-10月24日
每个ink输出对应的两个文件 分别是上午的4个小时和下午的4个小时，计算每前2小时的1/4、1/2、3/4位后两小时的到达时间均值, 测试集数据只有2小时

In [21]:
-

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123

In [22]:
pd.DataFrame(link_time_dict[104][0]).T

,0,1,2,3,4,5,6,7,8
2016-09-11,26.7500,34.070,44.5450,7.3200,10.4750,14.440502,37.225000,4.0,33.437727
2016-09-12,13.8500,13.850,13.8500,0.0000,0.0000,NaN,13.850000,1.0,23.180000
2016-09-13,25.3550,28.900,29.3800,3.5450,0.4800,4.396821,26.856667,3.0,27.336667
2016-09-14,35.4700,35.470,35.4700,0.0000,0.0000,NaN,35.470000,1.0,30.323333
2016-09-15,17.2400,17.240,17.2400,0.0000,0.0000,NaN,17.240000,1.0,36.975833
2016-09-16,20.0500,20.050,20.0500,0.0000,0.0000,NaN,20.050000,1.0,29.143333
2016-09-17,24.8500,25.920,27.4725,1.0700,1.5525,3.717807,26.402500,4.0,33.502500
2016-09-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.207200
2016-09-19,21.8475,21.955,22.0625,0.1075,0.1075,0.304056,21.955000,2.0,28.656667
2016-09-20,28.1400,28.140,28.1400,0.0000,0.0000,NaN,28.140000,1.0,25.987500
2016-09-21,22.6825,23.835,23.9900,1.1525,0.1550,2.163830,22.837500,4.0,25.335000
2016-09-22,19.9400,19.940,19.9400,0.0000,0.0000,NaN,19.940000,1.0,23.190000
2016-09-23,20.4100,20.590,24.0400,0.1800,3.4500,3.233354,22.264000,5.0,22.832500
2016-09-24,20.6300,21.570,22.2000,0.9400,0.6300,1.750340,21.212857,7.0,32.243824
2016-09-25,18.3875,19.925,21.4625,1.5375,1.5375,4.348707,19.925000,2.0,33.786000
2016-09-26,18.1550,21.940,28.0950,3.7850,6.1550,6.978028,23.570000,6.0,26.268667
2016-09-27,26.2100,26.210,26.2100,0.0000,0.0000,NaN,26.210000,1.0,28.660000
2016-09-28,34.5600,34.560,34.5600,0.0000,0.0000,NaN,34.560000,1.0,27.480714
2016-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.090000
2016-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.874231
2016-10-01,26.6100,27.070,35.6650,0.4600,8.5950,12.788039,32.601429,7.0,26.857812
2016-10-02,20.7400,22.840,23.4400,2.1000,0.6000,2.531818,21.993333,9.0,28.525000
2016-10-03,17.3875,18.185,20.3100,0.7975,2.1250,4.114700,19.512500,4.0,28.959318
2016-10-04,20.9300,22.260,24.5700,1.3300,2.3100,4.437792,23.240000,4.0,27.379706
2016-10-05,19.7300,20.210,22.4600,0.4800,2.2500,1.729630,20.732000,5.0,27.103214
2016-10-06,17.2900,17.970,22.5500,0.6800,4.5800,5.336950,20.666000,5.0,30.365000
2016-10-07,19.9025,22.445,24.9875,2.5425,2.5425,7.191276,22.445000,2.0,63.942000
2016-10-08,35.4075,38.785,42.1625,3.3775,3.3775,9.553013,38.785000,2.0,24.262500
2016-10-09,23.3350,25.320,29.4200,1.9850,4.1000,6.206311,26.730000,3.0,25.492727
2016-10-10,21.5200,21.520,21.5200,0.0000,0.0000,NaN,21.520000,1.0,24.616111
2016-10-11,21.9350,23.240,28.8500,1.3050,5.6100,7.348122,26.110000,3.0,25.082000
2016-10-12,16.9450,18.045,19.0500,1.1000,1.0050,1.591121,17.950000,4.0,23.981538
2016-10-13,29.1150,32.465,36.6225,3.3500,4.1575,5.703644,33.272500,4.0,28.907500
2016-10-14,20.3000,20.300,20.3000,0.0000,0.0000,NaN,20.300000,1.0,29.413889
2016-10-15,27.6100,27.610,27.6100,0.0000,0.0000,NaN,27.610000,1.0,38.993333
2016-10-16,22.5750,25.350,28.3200,2.7750,2.9700,5.345498,25.176667,6.0,32.694286
2016-10-17,23.2000,23.630,24.0400,0.4300,0.4100,0.840079,23.616667,3.0,27.622667
2016-10-18,25.2975,29.115,32.9325,3.8175,3.8175,10.797521,29.115000,2.0,NaN
2016-10-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-21,18.9600,18.980,19.0000,0.0200,0.0200,0.056569,18.980000,2.0,NaN
2016-10-22,22.4900,22.490,22.4900,0.0000,0.0000,NaN,22.490000,1.0,NaN
2016-10-23,17.4450,17.480,17.9750,0.0350,0.4950,0.592818,17.786667,3.0,NaN
2016-10-24,25.9225,27.505,29.0875,1.5825,1.5825,4.475986,27.505000,2.0,NaN

In [26]:
for link_id in link_df.index.values:
    #print(link_id)
    for m in range(2):
        #print(m)
        time_df = pd.DataFrame(link_time_dict[link_id][m]).T
        time_df = time_df.fillna(0)
#         temp_time_df = time_df.reset_index(drop=True)

#         for i in range(91, 98):
#             for t in range(7):
#                 if t == 6:
#                     temp_time_df.iloc[i][t] = 0
                    
#                 elif np.isnan(temp_time_df.loc[i][t]) :
#                     print('nan: id=%d m=%d i=%d t=%d'%(link_id, m, i, t))

#         time_df[np.array(range(7))] = temp_time_df[np.array(range(7))].values

        if m == 0:
            time_df.to_csv('../data/process/link_median_time/morning/' + str(link_id) + '.csv')

        else:
            time_df.to_csv('../data/process/link_median_time/afternoon/' + str(link_id) + '.csv')

# 计算预测区间内每20分钟的平均流量数据，用于验证

In [27]:
am_start_date = pd.to_datetime('2016-09-11')
am_end_date = pd.to_datetime('2016-10-24')
link_time_dict = {}

for link_id in link_df.index.values:
    print(link_id)
    appoint_link_df = valid_travel_link_df[valid_travel_link_df['link'] == link_id]
    morning_link_time_dict = {}
    afternoon_link_time_dict = {}
    
    norm_date = am_start_date
    while (norm_date <= am_end_date ):
        morning_time_start = norm_date + datetime.timedelta(hours=8)
        morning_time_end = norm_date + datetime.timedelta(hours=10)
        
        afternoon_time_start = norm_date + datetime.timedelta(hours=17)
        afternoon_time_end = norm_date + datetime.timedelta(hours=19)
        
        day_morning_means = []
        prev_time = current_time = morning_time_start
        for p in range(6):
            current_time = current_time + datetime.timedelta(minutes=20)
            temp_df = appoint_link_df[(appoint_link_df['start_time'] >= prev_time) & (appoint_link_df['start_time'] < current_time)]
            if len(temp_df) == 0:
                day_morning_means.append(np.nan)
            else:
                day_morning_means.append(temp_df['consume'].mean())
            
            prev_time = current_time
            
        ############################################################################
        day_afternoon_means = []
        prev_time = current_time = afternoon_time_start
        for p in range(6):
            current_time = current_time + datetime.timedelta(minutes=20)
            temp_df = appoint_link_df[(appoint_link_df['start_time'] >= prev_time) & (appoint_link_df['start_time'] < current_time)]
            if len(temp_df) == 0:
                day_afternoon_means.append(np.nan)
            else:
                day_afternoon_means.append(temp_df['consume'].mean())
            
            prev_time = current_time
        
        ############################################################################

        morning_link_time_dict[norm_date] = day_morning_means
        afternoon_link_time_dict[norm_date] = day_afternoon_means
       
        norm_date = norm_date + datetime.timedelta(days=1)
        
    link_time_dict[link_id] = [morning_link_time_dict, afternoon_link_time_dict]

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123

In [28]:
#前三天 + 后三天的均值，取到多少算多少，遇到NAN 则跳过
def getMeanTime(df, i, t, min_index, max_index):
    s = 0
    c = 0
    for k in range(1, 5):
        if (i - k) >= min_index :
            s = s + df.loc[i-k][t]
            c = c + 1
            
        if ((i + k) <= max_index) and ~np.isnan(df.loc[i + k][t]):
            s = s + df.loc[i+k][t]
            c = c + 1
    return s / c

In [32]:
for link_id in link_df.index.values:
    for m in range(2):
        time_df = pd.DataFrame(link_time_dict[link_id][m]).T
        temp_time_df = time_df.reset_index(drop=True)
        for i in range(len(temp_time_df)):
            for t in range(6):
                if np.isnan(temp_time_df.loc[i][t]) :
                    temp_time_df.iloc[i][t] = getMeanTime(temp_time_df, i, t, 0, len(temp_time_df) - 1)
        
        time_df[np.array(range(6))] = temp_time_df[np.array(range(6))].values
        
        if m == 0:
            time_df.to_csv('../data/process/link_median_time/morning/minute_' + str(link_id) + '.csv')
        else:
            time_df.to_csv('../data/process/link_median_time/afternoon/minute_' + str(link_id) + '.csv')

RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44
RangeIndex(start=0, stop=44, step=1)
44