In [1]:
import numpy as np
import pandas as pd
import datetime

In [21]:
m1_df = pd.read_csv('../data/prediction/prediction_m1.csv')

In [24]:
m1_df = pd.read_csv('../data/prediction/prediction_m1.csv')
m2_df = pd.read_csv('../data/prediction/prediction_m2.csv')

In [25]:
combine_df = m1_df

In [26]:
combine_df['avg_travel_time'] = combine_df['avg_travel_time'] + m2_df['avg_travel_time']

In [18]:
m2_df[(m2_df['intersection_id'] == 'C') & (m2_df['tollgate_id'] == 3)]

,intersection_id,tollgate_id,time_window,avg_travel_time
420,C,3,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",27.712933
421,C,3,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",32.169087
422,C,3,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",29.695892
423,C,3,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",32.256723
424,C,3,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",30.428002
425,C,3,"[2016-10-18 09:40:00,2016-10-18 10:00:00)",28.483557
426,C,3,"[2016-10-19 08:00:00,2016-10-19 08:20:00)",24.482892
427,C,3,"[2016-10-19 08:20:00,2016-10-19 08:40:00)",29.050204
428,C,3,"[2016-10-19 08:40:00,2016-10-19 09:00:00)",27.681094
429,C,3,"[2016-10-19 09:00:00,2016-10-19 09:20:00)",28.059179
430,C,3,"[2016-10-19 09:20:00,2016-10-19 09:40:00)",29.429014
431,C,3,"[2016-10-19 09:40:00,2016-10-19 10:00:00)",31.860050
432,C,3,"[2016-10-20 08:00:00,2016-10-20 08:20:00)",23.863104
433,C,3,"[2016-10-20 08:20:00,2016-10-20 08:40:00)",29.461686
434,C,3,"[2016-10-20 08:40:00,2016-10-20 09:00:00)",27.507423
435,C,3,"[2016-10-20 09:00:00,2016-10-20 09:20:00)",31.476051
436,C,3,"[2016-10-20 09:20:00,2016-10-20 09:40:00)",31.248678
437,C,3,"[2016-10-20 09:40:00,2016-10-20 10:00:00)",28.067867
438,C,3,"[2016-10-21 08:00:00,2016-10-21 08:20:00)",24.946694
439,C,3,"[2016-10-21 08:20:00,2016-10-21 08:40:00)",29.911780
440,C,3,"[2016-10-21 08:40:00,2016-10-21 09:00:00)",27.465198
441,C,3,"[2016-10-21 09:00:00,2016-10-21 09:20:00)",28.765660
442,C,3,"[2016-10-21 09:20:00,2016-10-21 09:40:00)",29.777323
443,C,3,"[2016-10-21 09:40:00,2016-10-21 10:00:00)",28.708143
444,C,3,"[2016-10-22 08:00:00,2016-10-22 08:20:00)",25.860186
445,C,3,"[2016-10-22 08:20:00,2016-10-22 08:40:00)",28.845189
446,C,3,"[2016-10-22 08:40:00,2016-10-22 09:00:00)",27.576680
447,C,3,"[2016-10-22 09:00:00,2016-10-22 09:20:00)",27.354474
448,C,3,"[2016-10-22 09:20:00,2016-10-22 09:40:00)",32.721618
449,C,3,"[2016-10-22 09:40:00,2016-10-22 10:00:00)",28.769498
...,...,...,...,...
474,C,3,"[2016-10-20 17:00:00,2016-10-20 17:20:00)",18.134019
475,C,3,"[2016-10-20 17:20:00,2016-10-20 17:40:00)",19.686709
476,C,3,"[2016-10-20 17:40:00,2016-10-20 18:00:00)",27.947578
477,C,3,"[2016-10-20 18:00:00,2016-10-20 18:20:00)",24.606715
478,C,3,"[2016-10-20 18:20:00,2016-10-20 18:40:00)",56.670213
479,C,3,"[2016-10-20 18:40:00,2016-10-20 19:00:00)",25.941885
480,C,3,"[2016-10-21 17:00:00,2016-10-21 17:20:00)",18.362464
481,C,3,"[2016-10-21 17:20:00,2016-10-21 17:40:00)",21.028157
482,C,3,"[2016-10-21 17:40:00,2016-10-21 18:00:00)",26.807597
483,C,3,"[2016-10-21 18:00:00,2016-10-21 18:20:00)",24.265307
484,C,3,"[2016-10-21 18:20:00,2016-10-21 18:40:00)",57.097266
485,C,3,"[2016-10-21 18:40:00,2016-10-21 19:00:00)",24.646454
486,C,3,"[2016-10-22 17:00:00,2016-10-22 17:20:00)",19.340993
487,C,3,"[2016-10-22 17:20:00,2016-10-22 17:40:00)",19.452000
488,C,3,"[2016-10-22 17:40:00,2016-10-22 18:00:00)",26.288632
489,C,3,"[2016-10-22 18:00:00,2016-10-22 18:20:00)",24.567674
490,C,3,"[2016-10-22 18:20:00,2016-10-22 18:40:00)",81.643053
491,C,3,"[2016-10-22 18:40:00,2016-10-22 19:00:00)",27.722914
492,C,3,"[2016-10-23 17:00:00,2016-10-23 17:20:00)",19.206739
493,C,3,"[2016-10-23 17:20:00,2016-10-23 17:40:00)",20.951577
494,C,3,"[2016-10-23 17:40:00,2016-10-23 18:00:00)",24.499059
495,C,3,"[2016-10-23 18:00:00,2016-10-23 18:20:00)",24.607220
496,C,3,"[2016-10-23 18:20:00,2016-10-23 18:40:00)",55.430882
497,C,3,"[2016-10-23 18:40:00,2016-10-23 19:00:00)",26.773299
498,C,3,"[2016-10-24 17:00:00,2016-10-24 17:20:00)",18.724497
499,C,3,"[2016-10-24 17:20:00,2016-10-24 17:40:00)",19.059312
500,C,3,"[2016-10-24 17:40:00,2016-10-24 18:00:00)",25.266096
501,C,3,"[2016-10-24 18:00:00,2016-10-24 18:20:00)",25.431791
502,C,3,"[2016-10-24 18:20:00,2016-10-24 18:40:00)",54.442068
503,C,3,"[2016-10-24 18:40:00,2016-10-24 19:00:00)",28.051995

In [19]:
combine_df[(combine_df['intersection_id'] == 'C') & (combine_df['tollgate_id'] == 3)]

,intersection_id,tollgate_id,time_window,avg_travel_time
420,C,3,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",154.406499
421,C,3,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",159.683336
422,C,3,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",162.482213
423,C,3,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",167.855144
424,C,3,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",171.140472
425,C,3,"[2016-10-18 09:40:00,2016-10-18 10:00:00)",168.391807
426,C,3,"[2016-10-19 08:00:00,2016-10-19 08:20:00)",152.165186
427,C,3,"[2016-10-19 08:20:00,2016-10-19 08:40:00)",156.453900
428,C,3,"[2016-10-19 08:40:00,2016-10-19 09:00:00)",160.212927
429,C,3,"[2016-10-19 09:00:00,2016-10-19 09:20:00)",163.319986
430,C,3,"[2016-10-19 09:20:00,2016-10-19 09:40:00)",170.795973
431,C,3,"[2016-10-19 09:40:00,2016-10-19 10:00:00)",171.100243
432,C,3,"[2016-10-20 08:00:00,2016-10-20 08:20:00)",151.765205
433,C,3,"[2016-10-20 08:20:00,2016-10-20 08:40:00)",156.848320
434,C,3,"[2016-10-20 08:40:00,2016-10-20 09:00:00)",160.842364
435,C,3,"[2016-10-20 09:00:00,2016-10-20 09:20:00)",168.120810
436,C,3,"[2016-10-20 09:20:00,2016-10-20 09:40:00)",171.745010
437,C,3,"[2016-10-20 09:40:00,2016-10-20 10:00:00)",166.739752
438,C,3,"[2016-10-21 08:00:00,2016-10-21 08:20:00)",151.843515
439,C,3,"[2016-10-21 08:20:00,2016-10-21 08:40:00)",158.405005
440,C,3,"[2016-10-21 08:40:00,2016-10-21 09:00:00)",160.958360
441,C,3,"[2016-10-21 09:00:00,2016-10-21 09:20:00)",164.791114
442,C,3,"[2016-10-21 09:20:00,2016-10-21 09:40:00)",171.300111
443,C,3,"[2016-10-21 09:40:00,2016-10-21 10:00:00)",166.211006
444,C,3,"[2016-10-22 08:00:00,2016-10-22 08:20:00)",156.304840
445,C,3,"[2016-10-22 08:20:00,2016-10-22 08:40:00)",157.999271
446,C,3,"[2016-10-22 08:40:00,2016-10-22 09:00:00)",161.900740
447,C,3,"[2016-10-22 09:00:00,2016-10-22 09:20:00)",164.391544
448,C,3,"[2016-10-22 09:20:00,2016-10-22 09:40:00)",173.967027
449,C,3,"[2016-10-22 09:40:00,2016-10-22 10:00:00)",166.469317
...,...,...,...,...
474,C,3,"[2016-10-20 17:00:00,2016-10-20 17:20:00)",166.936092
475,C,3,"[2016-10-20 17:20:00,2016-10-20 17:40:00)",164.001992
476,C,3,"[2016-10-20 17:40:00,2016-10-20 18:00:00)",174.415262
477,C,3,"[2016-10-20 18:00:00,2016-10-20 18:20:00)",180.454478
478,C,3,"[2016-10-20 18:20:00,2016-10-20 18:40:00)",214.816846
479,C,3,"[2016-10-20 18:40:00,2016-10-20 19:00:00)",184.426394
480,C,3,"[2016-10-21 17:00:00,2016-10-21 17:20:00)",165.640180
481,C,3,"[2016-10-21 17:20:00,2016-10-21 17:40:00)",167.449795
482,C,3,"[2016-10-21 17:40:00,2016-10-21 18:00:00)",174.737298
483,C,3,"[2016-10-21 18:00:00,2016-10-21 18:20:00)",181.538432
484,C,3,"[2016-10-21 18:20:00,2016-10-21 18:40:00)",214.255051
485,C,3,"[2016-10-21 18:40:00,2016-10-21 19:00:00)",181.742872
486,C,3,"[2016-10-22 17:00:00,2016-10-22 17:20:00)",168.340080
487,C,3,"[2016-10-22 17:20:00,2016-10-22 17:40:00)",166.291608
488,C,3,"[2016-10-22 17:40:00,2016-10-22 18:00:00)",174.100811
489,C,3,"[2016-10-22 18:00:00,2016-10-22 18:20:00)",183.023055
490,C,3,"[2016-10-22 18:20:00,2016-10-22 18:40:00)",240.110489
491,C,3,"[2016-10-22 18:40:00,2016-10-22 19:00:00)",186.605658
492,C,3,"[2016-10-23 17:00:00,2016-10-23 17:20:00)",167.364170
493,C,3,"[2016-10-23 17:20:00,2016-10-23 17:40:00)",165.974436
494,C,3,"[2016-10-23 17:40:00,2016-10-23 18:00:00)",170.483544
495,C,3,"[2016-10-23 18:00:00,2016-10-23 18:20:00)",180.328302
496,C,3,"[2016-10-23 18:20:00,2016-10-23 18:40:00)",212.212446
497,C,3,"[2016-10-23 18:40:00,2016-10-23 19:00:00)",182.823310
498,C,3,"[2016-10-24 17:00:00,2016-10-24 17:20:00)",166.176329
499,C,3,"[2016-10-24 17:20:00,2016-10-24 17:40:00)",163.416781
500,C,3,"[2016-10-24 17:40:00,2016-10-24 18:00:00)",171.424327
501,C,3,"[2016-10-24 18:00:00,2016-10-24 18:20:00)",180.663438
502,C,3,"[2016-10-24 18:20:00,2016-10-24 18:40:00)",210.348705
503,C,3,"[2016-10-24 18:40:00,2016-10-24 19:00:00)",183.520336

In [22]:
m1_df[(m1_df['intersection_id'] == 'C') & (m1_df['tollgate_id'] == 3)]

,intersection_id,tollgate_id,time_window,avg_travel_time
420,C,3,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",126.693566
421,C,3,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",127.514248
422,C,3,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",132.786321
423,C,3,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",135.598421
424,C,3,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",140.712471
425,C,3,"[2016-10-18 09:40:00,2016-10-18 10:00:00)",139.908249
426,C,3,"[2016-10-19 08:00:00,2016-10-19 08:20:00)",127.682294
427,C,3,"[2016-10-19 08:20:00,2016-10-19 08:40:00)",127.403695
428,C,3,"[2016-10-19 08:40:00,2016-10-19 09:00:00)",132.531833
429,C,3,"[2016-10-19 09:00:00,2016-10-19 09:20:00)",135.260808
430,C,3,"[2016-10-19 09:20:00,2016-10-19 09:40:00)",141.366959
431,C,3,"[2016-10-19 09:40:00,2016-10-19 10:00:00)",139.240193
432,C,3,"[2016-10-20 08:00:00,2016-10-20 08:20:00)",127.902102
433,C,3,"[2016-10-20 08:20:00,2016-10-20 08:40:00)",127.386634
434,C,3,"[2016-10-20 08:40:00,2016-10-20 09:00:00)",133.334941
435,C,3,"[2016-10-20 09:00:00,2016-10-20 09:20:00)",136.644759
436,C,3,"[2016-10-20 09:20:00,2016-10-20 09:40:00)",140.496332
437,C,3,"[2016-10-20 09:40:00,2016-10-20 10:00:00)",138.671884
438,C,3,"[2016-10-21 08:00:00,2016-10-21 08:20:00)",126.896821
439,C,3,"[2016-10-21 08:20:00,2016-10-21 08:40:00)",128.493225
440,C,3,"[2016-10-21 08:40:00,2016-10-21 09:00:00)",133.493162
441,C,3,"[2016-10-21 09:00:00,2016-10-21 09:20:00)",136.025453
442,C,3,"[2016-10-21 09:20:00,2016-10-21 09:40:00)",141.522789
443,C,3,"[2016-10-21 09:40:00,2016-10-21 10:00:00)",137.502863
444,C,3,"[2016-10-22 08:00:00,2016-10-22 08:20:00)",130.444655
445,C,3,"[2016-10-22 08:20:00,2016-10-22 08:40:00)",129.154083
446,C,3,"[2016-10-22 08:40:00,2016-10-22 09:00:00)",134.324060
447,C,3,"[2016-10-22 09:00:00,2016-10-22 09:20:00)",137.037070
448,C,3,"[2016-10-22 09:20:00,2016-10-22 09:40:00)",141.245409
449,C,3,"[2016-10-22 09:40:00,2016-10-22 10:00:00)",137.699819
...,...,...,...,...
474,C,3,"[2016-10-20 17:00:00,2016-10-20 17:20:00)",148.802073
475,C,3,"[2016-10-20 17:20:00,2016-10-20 17:40:00)",144.315282
476,C,3,"[2016-10-20 17:40:00,2016-10-20 18:00:00)",146.467684
477,C,3,"[2016-10-20 18:00:00,2016-10-20 18:20:00)",155.847762
478,C,3,"[2016-10-20 18:20:00,2016-10-20 18:40:00)",158.146633
479,C,3,"[2016-10-20 18:40:00,2016-10-20 19:00:00)",158.484509
480,C,3,"[2016-10-21 17:00:00,2016-10-21 17:20:00)",147.277716
481,C,3,"[2016-10-21 17:20:00,2016-10-21 17:40:00)",146.421638
482,C,3,"[2016-10-21 17:40:00,2016-10-21 18:00:00)",147.929700
483,C,3,"[2016-10-21 18:00:00,2016-10-21 18:20:00)",157.273125
484,C,3,"[2016-10-21 18:20:00,2016-10-21 18:40:00)",157.157784
485,C,3,"[2016-10-21 18:40:00,2016-10-21 19:00:00)",157.096418
486,C,3,"[2016-10-22 17:00:00,2016-10-22 17:20:00)",148.999087
487,C,3,"[2016-10-22 17:20:00,2016-10-22 17:40:00)",146.839609
488,C,3,"[2016-10-22 17:40:00,2016-10-22 18:00:00)",147.812179
489,C,3,"[2016-10-22 18:00:00,2016-10-22 18:20:00)",158.455381
490,C,3,"[2016-10-22 18:20:00,2016-10-22 18:40:00)",158.467436
491,C,3,"[2016-10-22 18:40:00,2016-10-22 19:00:00)",158.882744
492,C,3,"[2016-10-23 17:00:00,2016-10-23 17:20:00)",148.157431
493,C,3,"[2016-10-23 17:20:00,2016-10-23 17:40:00)",145.022858
494,C,3,"[2016-10-23 17:40:00,2016-10-23 18:00:00)",145.984484
495,C,3,"[2016-10-23 18:00:00,2016-10-23 18:20:00)",155.721082
496,C,3,"[2016-10-23 18:20:00,2016-10-23 18:40:00)",156.781563
497,C,3,"[2016-10-23 18:40:00,2016-10-23 19:00:00)",156.050011
498,C,3,"[2016-10-24 17:00:00,2016-10-24 17:20:00)",147.451833
499,C,3,"[2016-10-24 17:20:00,2016-10-24 17:40:00)",144.357470
500,C,3,"[2016-10-24 17:40:00,2016-10-24 18:00:00)",146.158231
501,C,3,"[2016-10-24 18:00:00,2016-10-24 18:20:00)",155.231647
502,C,3,"[2016-10-24 18:20:00,2016-10-24 18:40:00)",155.906637
503,C,3,"[2016-10-24 18:40:00,2016-10-24 19:00:00)",155.468341

In [27]:
combine_df.to_csv('../data/prediction/prediction_combine_m1_m2.csv', index=False)