In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
link_df = pd.read_csv('../../data/original/links (table 3).csv', index_col=0)

In [3]:
# validation_path = '../../data/offline/validation_9_6/'
# window_date = pd.to_datetime('2016-09-06')
# prediction_file_name = 'prediction_9_6'

# validation_path = '../../data/offline/validation_9_20/'
# window_date = pd.to_datetime('2016-09-20')
# prediction_file_name = 'prediction_9_20'

validation_path = '../../data/offline/validation_10_11/'
window_date = pd.to_datetime('2016-10-11')
prediction_file_name = 'prediction_10_11'

In [4]:
def ArrayMape(ground_truth, predictions):
    diff = (ground_truth - predictions) / ground_truth
    diff = np.abs(diff)
    mape = diff.sum() / ground_truth.size
    
    return mape

In [5]:
def ScalarMape(ground_truth, predictions):
    diff = (ground_truth - predictions) / ground_truth
    diff = np.abs(diff)
    mape = diff
    
    return mape

In [32]:
for l in range(100, 124):
    print(l)
    print(afternoon_predict_dict[l])

100
          0
0  7.636523
1  7.646486
2  7.523470
3  7.417486
4  7.962809
5  7.331027
6  7.374264
101
           0
0   9.432891
1   9.446046
2   9.432891
3  11.133607
4  10.636389
5   9.950778
6  10.809649
102
           0
0  10.476280
1  10.660764
2  10.845312
3  10.492794
4  10.406298
5  10.424958
6  10.604580
103
          0
0  4.416196
1  4.487507
2  3.705297
3  3.639282
4  3.770513
5  3.768450
6  4.453500
104
           0
0  28.234318
1  32.838304
2  28.445234
3  35.667132
4  36.588199
5  29.307108
6  31.429779
105
           0
0  12.500920
1  11.690594
2  11.756579
3  11.701923
4  12.108477
5  12.365650
6  11.067562
106
          0
0  1.753932
1  2.004971
2  1.783981
3  1.689756
4  1.665685
5  1.914669
6  1.753233
107
          0
0  4.889992
1  4.911724
2  4.870199
3  4.846663
4  4.350770
5  4.150934
6  4.859462
108
          0
0  5.533323
1  5.592278
2  5.523159
3  5.776196
4  5.774810
5  5.004495
6  5.776196
109
           0
0  10.769256
1  11.063654
2  10.680266
3  12.370623
4  12.185860
5  10.631142
6  10.894565
110
           0
0  11.310162
1  12.353597
2  12.437065
3  12.539107
4  12.562257
5  12.391285
6  12.172458
111
           0
0  25.489197
1  24.838131
2  26.365591
3  26.415115
4  31.083482
5  26.147261
6  24.568563
112
           0
0  31.662896
1  30.794104
2  31.087694
3  30.791483
4  34.865456
5  29.582185
6  30.176020
113
           0
0  29.406856
1  25.617416
2  28.769772
3  26.548810
4  19.697785
5  24.540283
6  28.129855
114
           0
0  19.698187
1  19.698187
2  19.757478
3  19.661326
4  19.499800
5  19.663959
6  19.006897
115
           0
0  10.815844
1  10.716034
2  10.816389
3  10.253229
4  10.823529
5  10.957122
6   9.751183
116
           0
0  17.349179
1  17.349179
2  17.349179
3  19.343820
4  19.462804
5  17.037655
6  18.376371
117
           0
0  26.304660
1  22.646140
2  32.880569
3  26.311769
4  35.112229
5  30.910530
6  26.490603
118
           0
0  25.204814
1  31.737428
2  25.170201
3  31.311258
4  31.735602
5  32.160333
6  25.190278
119
          0
0  1.004063
1  1.060783
2  0.986884
3  0.979046
4  0.978193
5  0.978899
6  0.985859
120
          0
0  0.894978
1  0.887359
2  0.940893
3  0.863013
4  0.906371
5  0.879390
6  0.925505
121
           0
0  15.473352
1  23.597630
2  14.902659
3  14.722018
4  14.485192
5  15.554494
6  15.050743
122
           0
0  30.122128
1  30.441325
2  34.429685
3  36.012422
4  35.836097
5  36.216233
6  29.704110
123
          0
0  6.049259
1  6.414623
2  6.181491
3  6.758882
4  6.585404
5  6.751117
6  6.656961

In [33]:
afternoon_predict_dict = {}
morning_predict_dict = {}

afternoon_real_dict = {}
morning_real_dict = {}

for link_id in link_df.index.values:
    predict_afternoon_df = pd.read_csv(validation_path + 'prediction/feature7/afternoon/' + str(link_id) + '.csv', index_col=0)
    predict_morning_df = pd.read_csv(validation_path + 'prediction/feature7/morning/' + str(link_id) + '.csv', index_col=0)
    
    real_afternoon_df = pd.read_csv(validation_path + 'feature/feature7/afternoon/y_test_link' + str(link_id) + '.csv', index_col = 0)
    real_morning_df = pd.read_csv(validation_path + 'feature/feature7/morning/y_test_link' + str(link_id) + '.csv', index_col = 0)

    
    afternoon_predict_dict[link_id] = predict_afternoon_df;
    morning_predict_dict[link_id] = predict_morning_df
    
    afternoon_real_dict[link_id] = real_afternoon_df
    morning_real_dict[link_id] = real_morning_df

In [34]:
routes = pd.read_csv('../../data/original/routes (table 4).csv')
submissions = []
for i in routes.index:
    link_seq = routes.loc[i]['link_seq']
    links = link_seq.split(',')
    
    #morning
    start_time = window_date + datetime.timedelta(hours=8)
    for d in range(7):
        current_time = start_time
        for t in range(6):
            predict_time = 0
            real_time = 0
            record = []
            record.append(routes.loc[i]['intersection_id'])
            record.append(routes.loc[i]['tollgate_id'])
            record.append('[' + str(current_time) + ',' + str(current_time + datetime.timedelta(minutes=20)) + ')')
            for link_id in links:
                predict_time = predict_time + morning_predict_dict[int(link_id)].loc[d][0]
                real_time = real_time + morning_real_dict[int(link_id)].loc[d][0]
                
            record.append(predict_time)
            record.append(real_time)

            submissions.append(record)
            current_time = current_time + datetime.timedelta(minutes=20)
            
        start_time = start_time + datetime.timedelta(days=1)
        
    #afternoon
    start_time = window_date + datetime.timedelta(hours=17)
#     start_time = pd.to_datetime('2016-09-20 17:00:00')
#     start_time = pd.to_datetime('2016-10-11 17:00:00')
    for d in range(7):
        current_time = start_time
        for t in range(6):
            predict_time = 0
            real_time = 0
            record = []
            record.append(routes.loc[i]['intersection_id'])
            record.append(routes.loc[i]['tollgate_id'])
            record.append('[' + str(current_time) + ',' + str(current_time + datetime.timedelta(minutes=20)) + ')')
            for link_id in links:
                predict_time = predict_time + afternoon_predict_dict[int(link_id)].loc[d][0]
                real_time = real_time + afternoon_real_dict[int(link_id)].loc[d][0]
                
            record.append(predict_time)
            record.append(real_time)

            submissions.append(record)
            current_time = current_time + datetime.timedelta(minutes=20)
            
        start_time = start_time + datetime.timedelta(days=1)

In [35]:
submission_df = pd.DataFrame(submissions).rename(columns={0:'intersection_id', 1:'tollgate_id', 2:'time_window', 3:'predict_time', 4:'real_time'})

In [36]:
mape_sum = 0
mapes = []
for i in range(len(submission_df)):
    #mape = ScalarMape(submission_df.loc[i]['real_time'], submission_df.loc[i]['predict_time'])
    mape = np.abs(submission_df.loc[i]['real_time'] - submission_df.loc[i]['predict_time'])
    
    #print('%a-%d : %f'%(m[0], m[1], mape))
    mapes.append(mape)
    mape_sum = mape_sum + mape
    
submission_df['mape'] = mapes
print("mape=%d"%(mape_sum))

mape=3693

In [20]:
mape=3537  #15
mape=3919  #25
mape=4109  #35
mape=4018  #40
mape=3915  #50
mape=4030  #80
mape=3869  #100


#9-6 mape=0.170663
#9-20 mape=0.115456
#mape=0.114156

In [76]:
submission_df['mape'].mean()

0.11415555656052243

In [78]:
submission_df[submission_df['mape'] <+ 0.17]['mape'].count()

399

In [26]:
submission_df.to_csv('../../data/offline/prediction/m1_m2/' + prediction_file_name + '.csv')

In [12]:
submission_df['mape'].describe()

count    504.000000
mean       0.179984
std        0.163925
min        0.000069
25%        0.064079
50%        0.140365
75%        0.252415
max        1.576950
Name: mape, dtype: float64

In [93]:
submission_df[submission_df['mape'] > 0.17]

,intersection_id,tollgate_id,time_window,predict_time,real_time,mape
0,A,2,"[2016-09-06 08:00:00,2016-09-06 08:20:00)",67.094925,47.851000,0.402163
1,A,2,"[2016-09-06 08:20:00,2016-09-06 08:40:00)",67.094925,54.396000,0.233453
2,A,2,"[2016-09-06 08:40:00,2016-09-06 09:00:00)",67.094925,51.218333,0.309979
3,A,2,"[2016-09-06 09:00:00,2016-09-06 09:20:00)",67.094925,53.237341,0.260298
4,A,2,"[2016-09-06 09:20:00,2016-09-06 09:40:00)",67.094925,49.496000,0.355563
8,A,2,"[2016-09-07 08:40:00,2016-09-07 09:00:00)",66.318603,47.293568,0.402275
11,A,2,"[2016-09-07 09:40:00,2016-09-07 10:00:00)",66.318603,55.040635,0.204903
12,A,2,"[2016-09-08 08:00:00,2016-09-08 08:20:00)",66.714030,53.747788,0.241242
16,A,2,"[2016-09-08 09:20:00,2016-09-08 09:40:00)",66.714030,55.655827,0.198689
20,A,2,"[2016-09-09 08:40:00,2016-09-09 09:00:00)",66.326138,80.249384,0.173500
28,A,2,"[2016-09-10 09:20:00,2016-09-10 09:40:00)",66.430055,93.959512,0.292993
36,A,2,"[2016-09-12 08:00:00,2016-09-12 08:20:00)",66.831500,82.512436,0.190043
38,A,2,"[2016-09-12 08:40:00,2016-09-12 09:00:00)",66.831500,54.832608,0.218828
39,A,2,"[2016-09-12 09:00:00,2016-09-12 09:20:00)",66.831500,89.657848,0.254594
41,A,2,"[2016-09-12 09:40:00,2016-09-12 10:00:00)",66.831500,52.122675,0.282196
42,A,2,"[2016-09-06 17:00:00,2016-09-06 17:20:00)",59.386965,46.797500,0.269020
43,A,2,"[2016-09-06 17:20:00,2016-09-06 17:40:00)",59.386965,50.656000,0.172358
44,A,2,"[2016-09-06 17:40:00,2016-09-06 18:00:00)",59.386965,30.548000,0.944054
45,A,2,"[2016-09-06 18:00:00,2016-09-06 18:20:00)",59.386965,37.480000,0.584497
46,A,2,"[2016-09-06 18:20:00,2016-09-06 18:40:00)",59.386965,44.148333,0.345169
48,A,2,"[2016-09-07 17:00:00,2016-09-07 17:20:00)",59.552003,84.357778,0.294054
49,A,2,"[2016-09-07 17:20:00,2016-09-07 17:40:00)",59.552003,78.333639,0.239765
50,A,2,"[2016-09-07 17:40:00,2016-09-07 18:00:00)",59.552003,101.622932,0.413991
52,A,2,"[2016-09-07 18:20:00,2016-09-07 18:40:00)",59.552003,49.321111,0.207434
54,A,2,"[2016-09-08 17:00:00,2016-09-08 17:20:00)",59.453472,74.117667,0.197850
55,A,2,"[2016-09-08 17:20:00,2016-09-08 17:40:00)",59.453472,46.958818,0.266077
59,A,2,"[2016-09-08 18:40:00,2016-09-08 19:00:00)",59.453472,82.413500,0.278595
67,A,2,"[2016-09-10 17:20:00,2016-09-10 17:40:00)",58.970868,71.698882,0.177520
69,A,2,"[2016-09-10 18:00:00,2016-09-10 18:20:00)",58.970868,83.143627,0.290735
80,A,2,"[2016-09-12 17:40:00,2016-09-12 18:00:00)",59.367888,75.366622,0.212279
...,...,...,...,...,...,...
434,C,3,"[2016-09-08 08:40:00,2016-09-08 09:00:00)",149.875496,125.266667,0.196452
435,C,3,"[2016-09-08 09:00:00,2016-09-08 09:20:00)",149.875496,124.211250,0.206618
436,C,3,"[2016-09-08 09:20:00,2016-09-08 09:40:00)",149.875496,121.566638,0.232867
438,C,3,"[2016-09-09 08:00:00,2016-09-09 08:20:00)",148.853143,111.919638,0.330000
440,C,3,"[2016-09-09 08:40:00,2016-09-09 09:00:00)",148.853143,126.700955,0.174838
444,C,3,"[2016-09-10 08:00:00,2016-09-10 08:20:00)",150.201013,125.395167,0.197821
447,C,3,"[2016-09-10 09:00:00,2016-09-10 09:20:00)",150.201013,113.824732,0.319582
448,C,3,"[2016-09-10 09:20:00,2016-09-10 09:40:00)",150.201013,183.869253,0.183110
449,C,3,"[2016-09-10 09:40:00,2016-09-10 10:00:00)",150.201013,236.624410,0.365234
456,C,3,"[2016-09-12 08:00:00,2016-09-12 08:20:00)",149.541181,122.326364,0.222477
458,C,3,"[2016-09-12 08:40:00,2016-09-12 09:00:00)",149.541181,119.206740,0.254469
459,C,3,"[2016-09-12 09:00:00,2016-09-12 09:20:00)",149.541181,124.809444,0.198156
463,C,3,"[2016-09-06 17:20:00,2016-09-06 17:40:00)",150.270924,101.720000,0.477300
464,C,3,"[2016-09-06 17:40:00,2016-09-06 18:00:00)",150.270924,116.495833,0.289925
466,C,3,"[2016-09-06 18:20:00,2016-09-06 18:40:00)",150.270924,112.635000,0.334141
467,C,3,"[2016-09-06 18:40:00,2016-09-06 19:00:00)",150.270924,122.949000,0.222222
468,C,3,"[2016-09-07 17:00:00,2016-09-07 17:20:00)",151.231332,128.933286,0.172943
469,C,3,"[2016-09-07 17:20:00,2016-09-07 17:40:00)",151.231332,104.177500,0.451670
471,C,3,"[2016-09-07 18:00:00,2016-09-07 18:20:00)",151.231332,120.247667,0.257665
472,C,3,"[2016-09-07 18:20:00,2016-09-07 18:40:00)",151.231332,126.005000,0.200201
473,C,3,"[2016-09-07 18:40:00,2016-09-07 19:00:00)",151.231332,123.027333,0.229250
476,C,3,"[2016-09-08 17:40:00,2016-09-08 18:00:00)",151.200608,123.823500,0.221098
482,C,3,"[2016-09-09 17:40:00,2016-09-09 18:00:00)",151.933240,125.569872,0.209950
488,C,3,"[2016-09-10 17:40:00,2016-09-10 18:00:00)",152.050450,222.555940,0.316799
489,C,3,"[2016-09-10 18:00:00,2016-09-10 18:20:00)",152.050450,341.630544,0.554927
491,C,3,"[2016-09-10 18:40:00,2016-09-10 19:00:00)",152.050450,188.305196,0.192532
496,C,3,"[2016-09-11 18:20:00,2016-09-11 18:40:00)",152.282323,185.786905,0.180339
501,C,3,"[2016-09-12 18:00:00,2016-09-12 18:20:00)",151.972604,126.145000,0.204745
502,C,3,"[2016-09-12 18:20:00,2016-09-12 18:40:00)",151.972604,127.634361,0.190687
503,C,3,"[2016-09-12 18:40:00,2016-09-12 19:00:00)",151.972604,128.388939,0.183689

In [17]:
anomaly_df = submission_df[submission_df['mape'] > 0.31]

In [18]:
anomaly_df.groupby(['intersection_id', 'tollgate_id']).count()

                             time_window  predict_time  real_time  mape
intersection_id tollgate_id
A               2                     10            10         10    10
                3                     19            19         19    19
B               1                     13            13         13    13
                3                     22            22         22    22
C               1                      9             9          9     9
                3                     16            16         16    16

In [59]:
anomaly_df.groupby(['intersection_id', 'tollgate_id']).count()

                             time_window  predict_time  real_time  mape
intersection_id tollgate_id
A               2                     17            17         17    17
                3                     17            17         17    17
B               1                     10            10         10    10
                3                     17            17         17    17
C               1                     12            12         12    12
                3                     14            14         14    14

In [41]:
anomaly_df.groupby(['intersection_id', 'tollgate_id']).count()

                             time_window  predict_time  real_time  mape
intersection_id tollgate_id
A               2                     17            17         17    17
                3                     28            28         28    28
B               1                     22            22         22    22
                3                     25            25         25    25
C               1                     21            21         21    21
                3                     20            20         20    20

In [31]:
submission_df.sort_values('mape')

,intersection_id,tollgate_id,time_window,predict_time,real_time,mape
446,C,3,"[2016-09-10 08:40:00,2016-09-10 09:00:00)",166.776793,166.801628,0.000149
486,C,3,"[2016-09-10 17:00:00,2016-09-10 17:20:00)",181.657452,181.710298,0.000291
269,B,3,"[2016-09-08 09:40:00,2016-09-08 10:00:00)",100.343104,100.404368,0.000610
331,B,3,"[2016-09-12 17:20:00,2016-09-12 17:40:00)",101.994318,102.058818,0.000632
18,A,2,"[2016-09-09 08:00:00,2016-09-09 08:20:00)",78.898403,78.733785,0.002091
61,A,2,"[2016-09-09 17:20:00,2016-09-09 17:40:00)",71.478236,71.240714,0.003334
68,A,2,"[2016-09-10 17:40:00,2016-09-10 18:00:00)",71.014296,70.759273,0.003604
273,B,3,"[2016-09-09 09:00:00,2016-09-09 09:20:00)",118.138210,117.626503,0.004350
159,A,3,"[2016-09-11 18:00:00,2016-09-11 18:20:00)",116.436087,115.920543,0.004447
396,C,1,"[2016-09-09 17:00:00,2016-09-09 17:20:00)",206.390607,205.370278,0.004968
102,A,3,"[2016-09-09 08:00:00,2016-09-09 08:20:00)",140.243851,139.315265,0.006665
372,C,1,"[2016-09-12 08:00:00,2016-09-12 08:20:00)",179.430786,180.653030,0.006766
73,A,2,"[2016-09-11 17:20:00,2016-09-11 17:40:00)",71.909528,71.376930,0.007462
399,C,1,"[2016-09-09 18:00:00,2016-09-09 18:20:00)",190.759042,189.331667,0.007539
318,B,3,"[2016-09-10 17:00:00,2016-09-10 17:20:00)",111.965099,110.993013,0.008758
445,C,3,"[2016-09-10 08:20:00,2016-09-10 08:40:00)",163.759527,165.225000,0.008870
473,C,3,"[2016-09-07 18:40:00,2016-09-07 19:00:00)",167.818784,166.300905,0.009127
441,C,3,"[2016-09-09 09:00:00,2016-09-09 09:20:00)",178.485417,176.702670,0.010089
32,A,2,"[2016-09-11 08:40:00,2016-09-11 09:00:00)",91.616778,90.681704,0.010312
22,A,2,"[2016-09-09 09:20:00,2016-09-09 09:40:00)",85.510689,86.452330,0.010892
492,C,3,"[2016-09-11 17:00:00,2016-09-11 17:20:00)",183.326088,185.611268,0.012312
271,B,3,"[2016-09-09 08:20:00,2016-09-09 08:40:00)",103.240351,101.802500,0.014124
277,B,3,"[2016-09-10 08:20:00,2016-09-10 08:40:00)",103.223019,104.740556,0.014489
313,B,3,"[2016-09-09 17:20:00,2016-09-09 17:40:00)",100.486164,98.901111,0.016027
272,B,3,"[2016-09-09 08:40:00,2016-09-09 09:00:00)",108.641227,110.522944,0.017026
232,B,1,"[2016-09-09 18:20:00,2016-09-09 18:40:00)",134.851328,132.576260,0.017160
117,A,3,"[2016-09-11 09:00:00,2016-09-11 09:20:00)",165.498508,162.583864,0.017927
228,B,1,"[2016-09-09 17:00:00,2016-09-09 17:20:00)",135.214778,132.735833,0.018676
417,C,1,"[2016-09-12 18:00:00,2016-09-12 18:20:00)",191.684126,188.113000,0.018984
431,C,3,"[2016-09-07 09:40:00,2016-09-07 10:00:00)",170.825569,174.404249,0.020519
...,...,...,...,...,...,...
352,C,1,"[2016-09-08 09:20:00,2016-09-08 09:40:00)",209.566948,482.511823,0.565675
259,B,3,"[2016-09-07 08:20:00,2016-09-07 08:40:00)",102.864679,65.330500,0.574528
405,C,1,"[2016-09-10 18:00:00,2016-09-10 18:20:00)",190.120440,455.266168,0.582397
421,C,3,"[2016-09-06 08:20:00,2016-09-06 08:40:00)",161.433262,100.831500,0.601020
171,B,1,"[2016-09-06 09:00:00,2016-09-06 09:20:00)",148.751076,92.636667,0.605747
413,C,1,"[2016-09-11 18:40:00,2016-09-11 19:00:00)",196.797815,518.049922,0.620118
16,A,2,"[2016-09-08 09:20:00,2016-09-08 09:40:00)",94.910586,58.543438,0.621199
90,A,3,"[2016-09-07 08:00:00,2016-09-07 08:20:00)",138.967358,85.605000,0.623356
291,B,3,"[2016-09-12 09:00:00,2016-09-12 09:20:00)",122.260564,74.974667,0.630692
169,B,1,"[2016-09-06 08:20:00,2016-09-06 08:40:00)",126.590411,77.550833,0.632354
469,C,3,"[2016-09-07 17:20:00,2016-09-07 17:40:00)",170.092616,104.177500,0.632719
296,B,3,"[2016-09-06 17:40:00,2016-09-06 18:00:00)",103.567469,63.360833,0.634566
128,A,3,"[2016-09-06 17:40:00,2016-09-06 18:00:00)",118.841971,72.353000,0.642530
382,C,1,"[2016-09-06 18:20:00,2016-09-06 18:40:00)",220.547985,134.155000,0.643979
254,B,3,"[2016-09-06 08:40:00,2016-09-06 09:00:00)",108.574479,65.078690,0.668357
8,A,2,"[2016-09-07 08:40:00,2016-09-07 09:00:00)",93.096420,55.698622,0.671431
265,B,3,"[2016-09-08 08:20:00,2016-09-08 08:40:00)",103.053841,61.466167,0.676595
466,C,3,"[2016-09-06 18:20:00,2016-09-06 18:40:00)",190.726350,112.635000,0.693313
184,B,1,"[2016-09-08 09:20:00,2016-09-08 09:40:00)",134.853352,445.341823,0.697191
329,B,3,"[2016-09-11 18:40:00,2016-09-11 19:00:00)",93.441171,317.703575,0.705886
45,A,2,"[2016-09-06 18:00:00,2016-09-06 18:20:00)",64.694482,37.480000,0.726107
245,B,1,"[2016-09-11 18:40:00,2016-09-11 19:00:00)",123.120966,470.484017,0.738310
85,A,3,"[2016-09-06 08:20:00,2016-09-06 08:40:00)",153.106767,85.172500,0.797608
87,A,3,"[2016-09-06 09:00:00,2016-09-06 09:20:00)",166.463096,91.934118,0.810678
253,B,3,"[2016-09-06 08:20:00,2016-09-06 08:40:00)",100.765797,55.381500,0.819485
2,A,2,"[2016-09-06 08:40:00,2016-09-06 09:00:00)",95.256457,51.218333,0.859812
256,B,3,"[2016-09-06 09:20:00,2016-09-06 09:40:00)",103.377904,55.188571,0.873176
255,B,3,"[2016-09-06 09:00:00,2016-09-06 09:20:00)",117.346748,59.050000,0.987244
258,B,3,"[2016-09-07 08:00:00,2016-09-07 08:20:00)",96.401596,46.320000,1.081209
44,A,2,"[2016-09-06 17:40:00,2016-09-06 18:00:00)",68.682982,30.548000,1.248363

In [10]:
mape_dict = {}
mape_sum = 0
for link_id in link_df.index.values:
    morning_mape = ArrayMape(morning_real_dict[link_id][2].values, morning_predict_dict[link_id][0].values)
    afternoon_mape = ArrayMape(afternoon_real_dict[link_id][2].values, afternoon_predict_dict[link_id][0].values)
    print('morning:%d mape=%f'%(link_id, morning_mape))
    print('afternoon:%d mape=%f'%(link_id, afternoon_mape))
    mape_sum = mape_sum + morning_mape + afternoon_mape
    mape_dict[link_id] = [morning_mape, afternoon_mape]

print('mape=%f'% (mape_sum / link_df['length'].count() / 2))

morning:100 mape=0.182095
afternoon:100 mape=0.224775
morning:101 mape=0.185093
afternoon:101 mape=0.371319
morning:102 mape=0.151957
afternoon:102 mape=0.179695
morning:103 mape=0.468896
afternoon:103 mape=0.373826
morning:104 mape=0.173277
afternoon:104 mape=0.235542
morning:105 mape=0.275713
afternoon:105 mape=0.274362
morning:106 mape=0.326857
afternoon:106 mape=0.361005
morning:107 mape=0.203918
afternoon:107 mape=0.253931
morning:108 mape=0.196537
afternoon:108 mape=0.197880
morning:109 mape=0.137740
afternoon:109 mape=0.159067
morning:110 mape=0.204659
afternoon:110 mape=0.190731
morning:111 mape=0.471663
afternoon:111 mape=0.356867
morning:112 mape=0.359530
afternoon:112 mape=0.436725
morning:113 mape=0.307870
afternoon:113 mape=0.388915
morning:114 mape=0.302873
afternoon:114 mape=0.225402
morning:115 mape=0.204463
afternoon:115 mape=0.182797
morning:116 mape=0.128791
afternoon:116 mape=0.292142
morning:117 mape=0.210714
afternoon:117 mape=0.314066
morning:118 mape=0.451908
afternoon:118 mape=0.311180
morning:119 mape=0.195202
afternoon:119 mape=0.219763
morning:120 mape=0.177282
afternoon:120 mape=0.208673
morning:121 mape=0.342416
afternoon:121 mape=0.392722
morning:122 mape=0.154159
afternoon:122 mape=0.185766
morning:123 mape=0.187572
afternoon:123 mape=0.200014
mape=0.261216

In [17]:
pd.DataFrame(mape_dict).T

            0         1
100  0.182095  0.224775
101  0.185093  0.371319
102  0.151957  0.179695
103  0.468896  0.373826
104  0.173277  0.235542
105  0.275713  0.274362
106  0.326857  0.361005
107  0.203918  0.253931
108  0.196537  0.197880
109  0.137740  0.159067
110  0.204659  0.190731
111  0.471663  0.356867
112  0.359530  0.436725
113  0.307870  0.388915
114  0.302873  0.225402
115  0.204463  0.182797
116  0.128791  0.292142
117  0.210714  0.314066
118  0.451908  0.311180
119  0.195202  0.219763
120  0.177282  0.208673
121  0.342416  0.392722
122  0.154159  0.185766
123  0.187572  0.200014