In [59]:
import numpy as np
import pandas as pd
import datetime

In [60]:
link_df = pd.read_csv('../../data/original/links (table 3).csv', index_col=0)

In [85]:
# validation_path = '../../data/offline/validation_9_6/'
# window_date = pd.to_datetime('2016-09-06')
# prediction_file_name = 'prediction_9_6'

# validation_path = '../../data/offline/validation_9_20/'
# window_date = pd.to_datetime('2016-09-20')
# prediction_file_name = 'prediction_9_20'

validation_path = '../../data/offline/validation_10_11/'
window_date = pd.to_datetime('2016-10-11')
prediction_file_name = 'prediction_10_11'

In [86]:
afternoon_predict_dict = {}
morning_predict_dict = {}

afternoon_real_dict = {}
morning_real_dict = {}

for link_id in link_df.index.values:
    predict_afternoon_m1_df = pd.read_csv(validation_path + 'prediction/feature1/afternoon/' + str(link_id) + '.csv', index_col=0)
    
    predict_morning_m1_df = pd.read_csv(validation_path + 'prediction/feature1/morning/' + str(link_id) + '.csv', index_col=0)
    
    real_afternoon_m1_df = pd.read_csv(validation_path + 'feature/feature1/afternoon/y_test_link' + str(link_id) + '.csv', index_col = 0)
    
    real_morning_m1_df = pd.read_csv(validation_path + 'feature/feature1/morning/y_test_link' + str(link_id) + '.csv', index_col = 0)
    
    afternoon_predict_dict[link_id] = predict_afternoon_m1_df
    morning_predict_dict[link_id] = predict_morning_m1_df
    
    afternoon_real_dict[link_id] = real_afternoon_m1_df
    morning_real_dict[link_id] = real_morning_m1_df

In [87]:
def ArrayMape(ground_truth, predictions):
    diff = (ground_truth - predictions) / ground_truth
    diff = np.abs(diff)
    mape = diff.sum() / ground_truth.size
    
    return mape

In [88]:
def ScalarMape(ground_truth, predictions):
    diff = (ground_truth - predictions) / ground_truth
    diff = np.abs(diff)
    mape = diff
    
    return mape

In [92]:
routes = pd.read_csv('../../data/original/routes (table 4).csv')
submissions = []
for i in routes.index:
    
    link_seq = routes.loc[i]['link_seq']
    links = link_seq.split(',')
    
    #morning
    y_test_time = pd.read_csv(validation_path + 'feature/feature3/morning/y_test_route' + str(i) + '.csv', index_col = 0)
    y_predict_time = pd.read_csv(validation_path + 'prediction/feature3/morning/predict_' + str(i) + '.csv', index_col = 0)
    start_time = window_date + datetime.timedelta(hours=8)
    for d in range(7):
        current_time = start_time
        for t in range(6):
            predict_time = 0
            real_time = 0
            record = []
            record.append(routes.loc[i]['intersection_id'])
            record.append(routes.loc[i]['tollgate_id'])
            record.append('[' + str(current_time) + ',' + str(current_time + datetime.timedelta(minutes=20)) + ')')
            for link_id in links:
                predict_time = predict_time + morning_predict_dict[int(link_id)].loc[d][t]
                real_time = real_time + morning_real_dict[int(link_id)].loc[d][t]
                
            predict_time = predict_time + y_predict_time.loc[d][t]  / 2
            real_time = real_time + y_test_time.loc[d][t]
            
            record.append(predict_time)
            record.append(real_time)

            submissions.append(record)
            current_time = current_time + datetime.timedelta(minutes=20)
            
        start_time = start_time + datetime.timedelta(days=1)
        
    #afternoon
    y_test_time = pd.read_csv(validation_path + 'feature/feature3/afternoon/y_test_route' + str(i) + '.csv', index_col = 0)
    y_predict_time = pd.read_csv(validation_path + 'prediction/feature3/afternoon/predict_' + str(i) + '.csv', index_col = 0)
    start_time = window_date + datetime.timedelta(hours=17)
#     start_time = pd.to_datetime('2016-09-20 17:00:00')
#     start_time = pd.to_datetime('2016-10-11 17:00:00')
    for d in range(7):
        current_time = start_time
        for t in range(6):
            predict_time = 0
            real_time = 0
            record = []
            record.append(routes.loc[i]['intersection_id'])
            record.append(routes.loc[i]['tollgate_id'])
            record.append('[' + str(current_time) + ',' + str(current_time + datetime.timedelta(minutes=20)) + ')')
            for link_id in links:
                predict_time = predict_time + afternoon_predict_dict[int(link_id)].loc[d][t] 
                real_time = real_time + afternoon_real_dict[int(link_id)].loc[d][t]
            
            predict_time = predict_time + y_predict_time.loc[d][t] / 2
            real_time = real_time + y_test_time.loc[d][t] 
            
            record.append(predict_time)
            record.append(real_time)

            submissions.append(record)
            current_time = current_time + datetime.timedelta(minutes=20)
            
        start_time = start_time + datetime.timedelta(days=1)

In [93]:
submission_df = pd.DataFrame(submissions).rename(columns={0:'intersection_id', 1:'tollgate_id', 2:'time_window', 3:'predict_time', 4:'real_time'})

In [94]:
mape_sum = 0
mapes = []
for i in range(len(submission_df)):
    mape = ScalarMape(submission_df.loc[i]['real_time'], submission_df.loc[i]['predict_time'])
    #print('%a-%d : %f'%(m[0], m[1], mape))
    mapes.append(mape)
    mape_sum = mape_sum + mape
    
submission_df['mape'] = mapes
print("mape=%f"%(mape_sum / len(submissions)))

mape=0.153892

In [84]:
submission_df.to_csv('../../data/offline/prediction/m1_m3/' + prediction_file_name + '.csv')

In [ ]:
1, mape=0.242898 0.205881 0.037017
2, mape=0.190741 0.151198 0.039543
3, mape=0.185790 0.149934 0.035856

In [ ]:
9-6 mape=0.224219 0.193308
9-20 mape=0.178480 0.151585
10-11 mape=0.179806 0.153892

In [18]:
submission_df[submission_df['mape'] > 0.25].sort_values(['intersection_id', 'tollgate_id'])

,intersection_id,tollgate_id,time_window,predict_time,real_time,mape
16,A,2,"[2016-10-13 09:20:00,2016-10-13 09:40:00)",67.662847,104.038814,0.349638
19,A,2,"[2016-10-14 08:20:00,2016-10-14 08:40:00)",72.537048,109.115141,0.335225
24,A,2,"[2016-10-15 08:00:00,2016-10-15 08:20:00)",67.670174,108.723522,0.377594
26,A,2,"[2016-10-15 08:40:00,2016-10-15 09:00:00)",74.619884,142.464061,0.476220
27,A,2,"[2016-10-15 09:00:00,2016-10-15 09:20:00)",67.865027,139.360072,0.513024
28,A,2,"[2016-10-15 09:20:00,2016-10-15 09:40:00)",67.452612,149.606823,0.549134
29,A,2,"[2016-10-15 09:40:00,2016-10-15 10:00:00)",66.261673,159.099324,0.583520
36,A,2,"[2016-10-17 08:00:00,2016-10-17 08:20:00)",66.858488,130.193056,0.486467
37,A,2,"[2016-10-17 08:20:00,2016-10-17 08:40:00)",71.945652,108.881681,0.339231
46,A,2,"[2016-10-11 18:20:00,2016-10-11 18:40:00)",61.121897,155.819733,0.607740
67,A,2,"[2016-10-15 17:20:00,2016-10-15 17:40:00)",63.954848,88.997115,0.281383
74,A,2,"[2016-10-16 17:40:00,2016-10-16 18:00:00)",63.192826,92.946871,0.320119
82,A,2,"[2016-10-17 18:20:00,2016-10-17 18:40:00)",60.749713,47.478974,0.279508
90,A,3,"[2016-10-12 08:00:00,2016-10-12 08:20:00)",121.293101,169.845011,0.285860
91,A,3,"[2016-10-12 08:20:00,2016-10-12 08:40:00)",138.261870,202.504633,0.317241
92,A,3,"[2016-10-12 08:40:00,2016-10-12 09:00:00)",138.180172,223.765667,0.382478
96,A,3,"[2016-10-13 08:00:00,2016-10-13 08:20:00)",123.932776,170.567529,0.273409
108,A,3,"[2016-10-15 08:00:00,2016-10-15 08:20:00)",121.251369,372.914269,0.674855
109,A,3,"[2016-10-15 08:20:00,2016-10-15 08:40:00)",137.282862,335.814063,0.591194
110,A,3,"[2016-10-15 08:40:00,2016-10-15 09:00:00)",135.450526,406.867727,0.667090
111,A,3,"[2016-10-15 09:00:00,2016-10-15 09:20:00)",146.535489,357.402106,0.589998
112,A,3,"[2016-10-15 09:20:00,2016-10-15 09:40:00)",147.586805,347.777898,0.575629
113,A,3,"[2016-10-15 09:40:00,2016-10-15 10:00:00)",127.203232,510.886115,0.751015
119,A,3,"[2016-10-16 09:40:00,2016-10-16 10:00:00)",130.199379,208.627188,0.375923
120,A,3,"[2016-10-17 08:00:00,2016-10-17 08:20:00)",120.496450,321.939167,0.625717
121,A,3,"[2016-10-17 08:20:00,2016-10-17 08:40:00)",134.829967,320.541701,0.579368
122,A,3,"[2016-10-17 08:40:00,2016-10-17 09:00:00)",135.135474,296.119372,0.543645
123,A,3,"[2016-10-17 09:00:00,2016-10-17 09:20:00)",145.598773,340.565103,0.572479
127,A,3,"[2016-10-11 17:20:00,2016-10-11 17:40:00)",113.416676,155.553214,0.270882
130,A,3,"[2016-10-11 18:20:00,2016-10-11 18:40:00)",124.683161,195.126538,0.361014
...,...,...,...,...,...,...
309,B,3,"[2016-10-13 18:00:00,2016-10-13 18:20:00)",98.602474,76.856333,0.282945
314,B,3,"[2016-10-14 17:40:00,2016-10-14 18:00:00)",94.137460,206.316333,0.543723
322,B,3,"[2016-10-15 18:20:00,2016-10-15 18:40:00)",111.172031,56.199000,0.978185
328,B,3,"[2016-10-16 18:20:00,2016-10-16 18:40:00)",111.193471,71.872500,0.547093
330,B,3,"[2016-10-17 17:00:00,2016-10-17 17:20:00)",94.503361,74.241095,0.272925
335,B,3,"[2016-10-17 18:40:00,2016-10-17 19:00:00)",90.562743,196.606111,0.539370
375,C,1,"[2016-10-17 09:00:00,2016-10-17 09:20:00)",182.395215,141.863750,0.285707
377,C,1,"[2016-10-17 09:40:00,2016-10-17 10:00:00)",184.025321,248.175528,0.258487
378,C,1,"[2016-10-11 17:00:00,2016-10-11 17:20:00)",196.343564,150.098250,0.308100
380,C,1,"[2016-10-11 17:40:00,2016-10-11 18:00:00)",195.383651,308.765000,0.367209
381,C,1,"[2016-10-11 18:00:00,2016-10-11 18:20:00)",202.771404,304.085000,0.333175
384,C,1,"[2016-10-12 17:00:00,2016-10-12 17:20:00)",196.238584,151.305606,0.296968
397,C,1,"[2016-10-14 17:20:00,2016-10-14 17:40:00)",187.841859,273.235340,0.312527
398,C,1,"[2016-10-14 17:40:00,2016-10-14 18:00:00)",197.948285,398.157750,0.502840
399,C,1,"[2016-10-14 18:00:00,2016-10-14 18:20:00)",207.845666,293.126445,0.290935
402,C,1,"[2016-10-15 17:00:00,2016-10-15 17:20:00)",200.290116,345.926657,0.421004
403,C,1,"[2016-10-15 17:20:00,2016-10-15 17:40:00)",190.216164,273.722142,0.305076
406,C,1,"[2016-10-15 18:20:00,2016-10-15 18:40:00)",229.772312,177.340000,0.295660
414,C,1,"[2016-10-17 17:00:00,2016-10-17 17:20:00)",197.659751,155.355333,0.272307
436,C,3,"[2016-10-13 09:20:00,2016-10-13 09:40:00)",162.473035,125.103667,0.298707
461,C,3,"[2016-10-17 09:40:00,2016-10-17 10:00:00)",152.598860,231.049528,0.339540
462,C,3,"[2016-10-11 17:00:00,2016-10-11 17:20:00)",162.137860,126.877417,0.277910
468,C,3,"[2016-10-12 17:00:00,2016-10-12 17:20:00)",162.774747,120.538273,0.350399
482,C,3,"[2016-10-14 17:40:00,2016-10-14 18:00:00)",165.281729,296.684000,0.442903
486,C,3,"[2016-10-15 17:00:00,2016-10-15 17:20:00)",163.392639,278.871760,0.414094
487,C,3,"[2016-10-15 17:20:00,2016-10-15 17:40:00)",157.675592,248.087865,0.364436
490,C,3,"[2016-10-15 18:20:00,2016-10-15 18:40:00)",218.089350,151.104000,0.443306
496,C,3,"[2016-10-16 18:20:00,2016-10-16 18:40:00)",216.941882,160.895833,0.348337
498,C,3,"[2016-10-17 17:00:00,2016-10-17 17:20:00)",162.348313,124.072762,0.308493
503,C,3,"[2016-10-17 18:40:00,2016-10-17 19:00:00)",172.017363,292.091111,0.411083