In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
link_df = pd.read_csv('../../data/original/links (table 3).csv', index_col=0)

In [3]:
# validation_path = '../../data/offline/validation_9_6/'
# window_date = pd.to_datetime('2016-09-06')
# prediction_file_name = 'prediction_9_6'

# validation_path = '../../data/offline/validation_9_20/'
# window_date = pd.to_datetime('2016-09-20')
# prediction_file_name = 'prediction_9_20'

validation_path = '../../data/online/'
window_date = pd.to_datetime('2016-10-18')
prediction_file_name = 'prediction_10_11'

In [4]:
afternoon_predict_dict = {}
morning_predict_dict = {}

for link_id in link_df.index.values:
    predict_afternoon_df = pd.read_csv(validation_path + 'prediction/feature7/afternoon/' + str(link_id) + '.csv', index_col=0)
    predict_morning_df = pd.read_csv(validation_path + 'prediction/feature7/morning/' + str(link_id) + '.csv', index_col=0)
    
    afternoon_predict_dict[link_id] = predict_afternoon_df;
    morning_predict_dict[link_id] = predict_morning_df

In [5]:
def ArrayMape(ground_truth, predictions):
    diff = (ground_truth - predictions) / ground_truth
    diff = np.abs(diff)
    mape = diff.sum() / ground_truth.size
    
    return mape

In [6]:
def ScalarMape(ground_truth, predictions):
    diff = (ground_truth - predictions) / ground_truth
    diff = np.abs(diff)
    mape = diff
    
    return mape

In [7]:
 afternoon_predict_dict[109].loc[1][0]

11.382338032712108

In [8]:
routes = pd.read_csv('../../data/original/routes (table 4).csv')
submissions = []
for i in routes.index:
    link_seq = routes.loc[i]['link_seq']
    links = link_seq.split(',')
    
    #morning
    start_time = window_date + datetime.timedelta(hours=8)
    for d in range(7):
        current_time = start_time
        for t in range(6):
            predict_time = 0
            real_time = 0
            record = []
            record.append(routes.loc[i]['intersection_id'])
            record.append(routes.loc[i]['tollgate_id'])
            record.append('[' + str(current_time) + ',' + str(current_time + datetime.timedelta(minutes=20)) + ')')
            for link_id in links:
                predict_time = predict_time + morning_predict_dict[int(link_id)].loc[d][0]
                
            record.append(predict_time)
            
            submissions.append(record)
            current_time = current_time + datetime.timedelta(minutes=20)
            
        start_time = start_time + datetime.timedelta(days=1)
        
    #afternoon
    start_time = window_date + datetime.timedelta(hours=17)
#     start_time = pd.to_datetime('2016-09-20 17:00:00')
#     start_time = pd.to_datetime('2016-10-11 17:00:00')
    for d in range(7):
        current_time = start_time
        for t in range(6):
            predict_time = 0
            real_time = 0
            record = []
            record.append(routes.loc[i]['intersection_id'])
            record.append(routes.loc[i]['tollgate_id'])
            record.append('[' + str(current_time) + ',' + str(current_time + datetime.timedelta(minutes=20)) + ')')
            for link_id in links:
                predict_time = predict_time + afternoon_predict_dict[int(link_id)].loc[d][0]
                
            record.append(predict_time)

            submissions.append(record)
            current_time = current_time + datetime.timedelta(minutes=20)
            
        start_time = start_time + datetime.timedelta(days=1)

In [9]:
submission_df = pd.DataFrame(submissions).rename(columns={0:'intersection_id', 1:'tollgate_id', 2:'time_window', 3:'predict_time', 4:'real_time'})

In [10]:
submission_df.to_csv(validation_path + '/prediction/combine/prediction_median_5_10.csv', index=False)

In [10]:
submission_df

,intersection_id,tollgate_id,time_window,predict_time
0,A,2,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",65.180483
1,A,2,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",65.180483
2,A,2,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",65.180483
3,A,2,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",65.180483
4,A,2,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",65.180483
5,A,2,"[2016-10-18 09:40:00,2016-10-18 10:00:00)",65.180483
6,A,2,"[2016-10-19 08:00:00,2016-10-19 08:20:00)",67.896978
7,A,2,"[2016-10-19 08:20:00,2016-10-19 08:40:00)",67.896978
8,A,2,"[2016-10-19 08:40:00,2016-10-19 09:00:00)",67.896978
9,A,2,"[2016-10-19 09:00:00,2016-10-19 09:20:00)",67.896978
10,A,2,"[2016-10-19 09:20:00,2016-10-19 09:40:00)",67.896978
11,A,2,"[2016-10-19 09:40:00,2016-10-19 10:00:00)",67.896978
12,A,2,"[2016-10-20 08:00:00,2016-10-20 08:20:00)",63.709377
13,A,2,"[2016-10-20 08:20:00,2016-10-20 08:40:00)",63.709377
14,A,2,"[2016-10-20 08:40:00,2016-10-20 09:00:00)",63.709377
15,A,2,"[2016-10-20 09:00:00,2016-10-20 09:20:00)",63.709377
16,A,2,"[2016-10-20 09:20:00,2016-10-20 09:40:00)",63.709377
17,A,2,"[2016-10-20 09:40:00,2016-10-20 10:00:00)",63.709377
18,A,2,"[2016-10-21 08:00:00,2016-10-21 08:20:00)",66.981679
19,A,2,"[2016-10-21 08:20:00,2016-10-21 08:40:00)",66.981679
20,A,2,"[2016-10-21 08:40:00,2016-10-21 09:00:00)",66.981679
21,A,2,"[2016-10-21 09:00:00,2016-10-21 09:20:00)",66.981679
22,A,2,"[2016-10-21 09:20:00,2016-10-21 09:40:00)",66.981679
23,A,2,"[2016-10-21 09:40:00,2016-10-21 10:00:00)",66.981679
24,A,2,"[2016-10-22 08:00:00,2016-10-22 08:20:00)",64.245330
25,A,2,"[2016-10-22 08:20:00,2016-10-22 08:40:00)",64.245330
26,A,2,"[2016-10-22 08:40:00,2016-10-22 09:00:00)",64.245330
27,A,2,"[2016-10-22 09:00:00,2016-10-22 09:20:00)",64.245330
28,A,2,"[2016-10-22 09:20:00,2016-10-22 09:40:00)",64.245330
29,A,2,"[2016-10-22 09:40:00,2016-10-22 10:00:00)",64.245330
...,...,...,...,...
474,C,3,"[2016-10-20 17:00:00,2016-10-20 17:20:00)",156.896048
475,C,3,"[2016-10-20 17:20:00,2016-10-20 17:40:00)",156.896048
476,C,3,"[2016-10-20 17:40:00,2016-10-20 18:00:00)",156.896048
477,C,3,"[2016-10-20 18:00:00,2016-10-20 18:20:00)",156.896048
478,C,3,"[2016-10-20 18:20:00,2016-10-20 18:40:00)",156.896048
479,C,3,"[2016-10-20 18:40:00,2016-10-20 19:00:00)",156.896048
480,C,3,"[2016-10-21 17:00:00,2016-10-21 17:20:00)",164.050601
481,C,3,"[2016-10-21 17:20:00,2016-10-21 17:40:00)",164.050601
482,C,3,"[2016-10-21 17:40:00,2016-10-21 18:00:00)",164.050601
483,C,3,"[2016-10-21 18:00:00,2016-10-21 18:20:00)",164.050601
484,C,3,"[2016-10-21 18:20:00,2016-10-21 18:40:00)",164.050601
485,C,3,"[2016-10-21 18:40:00,2016-10-21 19:00:00)",164.050601
486,C,3,"[2016-10-22 17:00:00,2016-10-22 17:20:00)",168.545016
487,C,3,"[2016-10-22 17:20:00,2016-10-22 17:40:00)",168.545016
488,C,3,"[2016-10-22 17:40:00,2016-10-22 18:00:00)",168.545016
489,C,3,"[2016-10-22 18:00:00,2016-10-22 18:20:00)",168.545016
490,C,3,"[2016-10-22 18:20:00,2016-10-22 18:40:00)",168.545016
491,C,3,"[2016-10-22 18:40:00,2016-10-22 19:00:00)",168.545016
492,C,3,"[2016-10-23 17:00:00,2016-10-23 17:20:00)",158.680799
493,C,3,"[2016-10-23 17:20:00,2016-10-23 17:40:00)",158.680799
494,C,3,"[2016-10-23 17:40:00,2016-10-23 18:00:00)",158.680799
495,C,3,"[2016-10-23 18:00:00,2016-10-23 18:20:00)",158.680799
496,C,3,"[2016-10-23 18:20:00,2016-10-23 18:40:00)",158.680799
497,C,3,"[2016-10-23 18:40:00,2016-10-23 19:00:00)",158.680799
498,C,3,"[2016-10-24 17:00:00,2016-10-24 17:20:00)",153.248474
499,C,3,"[2016-10-24 17:20:00,2016-10-24 17:40:00)",153.248474
500,C,3,"[2016-10-24 17:40:00,2016-10-24 18:00:00)",153.248474
501,C,3,"[2016-10-24 18:00:00,2016-10-24 18:20:00)",153.248474
502,C,3,"[2016-10-24 18:20:00,2016-10-24 18:40:00)",153.248474
503,C,3,"[2016-10-24 18:40:00,2016-10-24 19:00:00)",153.248474