In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
link_df = pd.read_csv('../../data/original/links (table 3).csv', index_col=0)

In [3]:
validation_path = '../../data/online/'
window_date = pd.to_datetime('2016-10-18')

In [4]:
afternoon_predict_dict = {}
morning_predict_dict = {}

afternoon_real_dict = {}
morning_real_dict = {}

for link_id in link_df.index.values:
    predict_afternoon_m1_df = pd.read_csv(validation_path + 'prediction/feature1/afternoon/' + str(link_id) + '.csv', index_col=0)
    
    predict_morning_m1_df = pd.read_csv(validation_path + 'prediction/feature1/morning/' + str(link_id) + '.csv', index_col=0)
    
    
    afternoon_predict_dict[link_id] = predict_afternoon_m1_df
    morning_predict_dict[link_id] = predict_morning_m1_df

In [5]:
routes = pd.read_csv('../../data/original/routes (table 4).csv')
submissions = []
for i in routes.index:
    
    link_seq = routes.loc[i]['link_seq']
    links = link_seq.split(',')
    
    #morning
    start_time = window_date + datetime.timedelta(hours=8)
    y_predict_time = pd.read_csv(validation_path + 'prediction/model_3/morning/predict_' + str(i) + '.csv', index_col = 0)
    
    for d in range(7):
        current_time = start_time
        for t in range(6):
            predict_time = 0
            record = []
            record.append(routes.loc[i]['intersection_id'])
            record.append(routes.loc[i]['tollgate_id'])
            record.append('[' + str(current_time) + ',' + str(current_time + datetime.timedelta(minutes=20)) + ')')
            for link_id in links:
                predict_time = predict_time + morning_predict_dict[int(link_id)].loc[d][t]
                
            predict_time = predict_time + y_predict_time.loc[d][t] / 2.5
            record.append(predict_time)

            submissions.append(record)
            current_time = current_time + datetime.timedelta(minutes=20)
            
        start_time = start_time + datetime.timedelta(days=1)
        
    #afternoon
    start_time = window_date + datetime.timedelta(hours=17)
    
    y_predict_time = pd.read_csv(validation_path + 'prediction/model_3/afternoon/predict_' + str(i) + '.csv', index_col = 0)

    for d in range(7):
        current_time = start_time
        for t in range(6):
            predict_time = 0
            record = []
            record.append(routes.loc[i]['intersection_id'])
            record.append(routes.loc[i]['tollgate_id'])
            record.append('[' + str(current_time) + ',' + str(current_time + datetime.timedelta(minutes=20)) + ')')
            for link_id in links:
                predict_time = predict_time + afternoon_predict_dict[int(link_id)].loc[d][t] 
            
            predict_time = predict_time + y_predict_time.loc[d][t] / 1.8
            record.append(predict_time)

            submissions.append(record)
            current_time = current_time + datetime.timedelta(minutes=20)
            
        start_time = start_time + datetime.timedelta(days=1)

In [6]:
submission_df = pd.DataFrame(submissions).rename(columns={0:'intersection_id', 1:'tollgate_id', 2:'time_window', 3:'avg_travel_time'})

In [7]:
submission_df.to_csv(validation_path + '/prediction/combine/prediction_m1_m3.csv', index=False)

In [8]:
submission_df

,intersection_id,tollgate_id,time_window,avg_travel_time
0,A,2,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",67.209892
1,A,2,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",72.183292
2,A,2,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",75.576547
3,A,2,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",68.550109
4,A,2,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",67.904336
5,A,2,"[2016-10-18 09:40:00,2016-10-18 10:00:00)",64.858614
6,A,2,"[2016-10-19 08:00:00,2016-10-19 08:20:00)",66.572437
7,A,2,"[2016-10-19 08:20:00,2016-10-19 08:40:00)",71.394936
8,A,2,"[2016-10-19 08:40:00,2016-10-19 09:00:00)",75.931358
9,A,2,"[2016-10-19 09:00:00,2016-10-19 09:20:00)",68.342189
10,A,2,"[2016-10-19 09:20:00,2016-10-19 09:40:00)",66.790863
11,A,2,"[2016-10-19 09:40:00,2016-10-19 10:00:00)",63.860598
12,A,2,"[2016-10-20 08:00:00,2016-10-20 08:20:00)",65.541077
13,A,2,"[2016-10-20 08:20:00,2016-10-20 08:40:00)",73.226052
14,A,2,"[2016-10-20 08:40:00,2016-10-20 09:00:00)",75.800371
15,A,2,"[2016-10-20 09:00:00,2016-10-20 09:20:00)",68.334990
16,A,2,"[2016-10-20 09:20:00,2016-10-20 09:40:00)",68.140072
17,A,2,"[2016-10-20 09:40:00,2016-10-20 10:00:00)",63.896159
18,A,2,"[2016-10-21 08:00:00,2016-10-21 08:20:00)",65.510195
19,A,2,"[2016-10-21 08:20:00,2016-10-21 08:40:00)",72.244851
20,A,2,"[2016-10-21 08:40:00,2016-10-21 09:00:00)",75.737532
21,A,2,"[2016-10-21 09:00:00,2016-10-21 09:20:00)",68.432563
22,A,2,"[2016-10-21 09:20:00,2016-10-21 09:40:00)",68.193879
23,A,2,"[2016-10-21 09:40:00,2016-10-21 10:00:00)",63.914823
24,A,2,"[2016-10-22 08:00:00,2016-10-22 08:20:00)",65.508123
25,A,2,"[2016-10-22 08:20:00,2016-10-22 08:40:00)",73.060636
26,A,2,"[2016-10-22 08:40:00,2016-10-22 09:00:00)",73.960256
27,A,2,"[2016-10-22 09:00:00,2016-10-22 09:20:00)",67.662017
28,A,2,"[2016-10-22 09:20:00,2016-10-22 09:40:00)",66.735934
29,A,2,"[2016-10-22 09:40:00,2016-10-22 10:00:00)",63.866699
...,...,...,...,...
474,C,3,"[2016-10-20 17:00:00,2016-10-20 17:20:00)",158.111868
475,C,3,"[2016-10-20 17:20:00,2016-10-20 17:40:00)",156.894685
476,C,3,"[2016-10-20 17:40:00,2016-10-20 18:00:00)",160.660532
477,C,3,"[2016-10-20 18:00:00,2016-10-20 18:20:00)",169.062483
478,C,3,"[2016-10-20 18:20:00,2016-10-20 18:40:00)",197.182626
479,C,3,"[2016-10-20 18:40:00,2016-10-20 19:00:00)",173.116061
480,C,3,"[2016-10-21 17:00:00,2016-10-21 17:20:00)",158.972486
481,C,3,"[2016-10-21 17:20:00,2016-10-21 17:40:00)",154.752365
482,C,3,"[2016-10-21 17:40:00,2016-10-21 18:00:00)",159.938091
483,C,3,"[2016-10-21 18:00:00,2016-10-21 18:20:00)",169.110275
484,C,3,"[2016-10-21 18:20:00,2016-10-21 18:40:00)",194.002717
485,C,3,"[2016-10-21 18:40:00,2016-10-21 19:00:00)",172.249193
486,C,3,"[2016-10-22 17:00:00,2016-10-22 17:20:00)",157.575972
487,C,3,"[2016-10-22 17:20:00,2016-10-22 17:40:00)",157.367919
488,C,3,"[2016-10-22 17:40:00,2016-10-22 18:00:00)",161.205844
489,C,3,"[2016-10-22 18:00:00,2016-10-22 18:20:00)",170.820784
490,C,3,"[2016-10-22 18:20:00,2016-10-22 18:40:00)",197.849150
491,C,3,"[2016-10-22 18:40:00,2016-10-22 19:00:00)",171.362490
492,C,3,"[2016-10-23 17:00:00,2016-10-23 17:20:00)",159.288165
493,C,3,"[2016-10-23 17:20:00,2016-10-23 17:40:00)",158.113689
494,C,3,"[2016-10-23 17:40:00,2016-10-23 18:00:00)",166.500395
495,C,3,"[2016-10-23 18:00:00,2016-10-23 18:20:00)",170.957753
496,C,3,"[2016-10-23 18:20:00,2016-10-23 18:40:00)",216.513207
497,C,3,"[2016-10-23 18:40:00,2016-10-23 19:00:00)",174.114746
498,C,3,"[2016-10-24 17:00:00,2016-10-24 17:20:00)",159.205006
499,C,3,"[2016-10-24 17:20:00,2016-10-24 17:40:00)",155.511149
500,C,3,"[2016-10-24 17:40:00,2016-10-24 18:00:00)",160.845247
501,C,3,"[2016-10-24 18:00:00,2016-10-24 18:20:00)",168.086766
502,C,3,"[2016-10-24 18:20:00,2016-10-24 18:40:00)",186.884491
503,C,3,"[2016-10-24 18:40:00,2016-10-24 19:00:00)",170.244504