In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
link_df = pd.read_csv('../../data/original/links (table 3).csv', index_col=0)

In [3]:
validation_path = '../../data/online/'
window_date = pd.to_datetime('2016-10-18')

In [4]:
afternoon_predict_dict = {}
morning_predict_dict = {}

afternoon_real_dict = {}
morning_real_dict = {}

for link_id in link_df.index.values:
    predict_afternoon_m1_df = pd.read_csv(validation_path + 'prediction/feature1/afternoon/' + str(link_id) + '.csv', index_col=0)
    predict_afternoon_m2_df = pd.read_csv(validation_path + 'prediction/feature2/afternoon/' + str(link_id) + '.csv', index_col=0)
    
    predict_morning_m1_df = pd.read_csv(validation_path + 'prediction/feature1/morning/' + str(link_id) + '.csv', index_col=0)
    predict_morning_m2_df = pd.read_csv(validation_path + 'prediction/feature2/morning/' + str(link_id) + '.csv', index_col=0)
    
    
    afternoon_predict_dict[link_id] = [predict_afternoon_m1_df, predict_afternoon_m2_df]
    morning_predict_dict[link_id] = [predict_morning_m1_df, predict_morning_m2_df]

In [5]:
def ArrayMape(ground_truth, predictions):
    diff = (ground_truth - predictions) / ground_truth
    diff = np.abs(diff)
    mape = diff.sum() / ground_truth.size
    
    return mape

In [6]:
def ScalarMape(ground_truth, predictions):
    diff = (ground_truth - predictions) / ground_truth
    diff = np.abs(diff)
    mape = diff
    
    return mape

In [7]:
routes = pd.read_csv('../../data/original/routes (table 4).csv')
submissions = []
for i in routes.index:
    link_seq = routes.loc[i]['link_seq']
    links = link_seq.split(',')
    
    #morning
    start_time = window_date + datetime.timedelta(hours=8)
    for d in range(7):
        current_time = start_time
        for t in range(6):
            predict_time = 0
            real_time = 0
            record = []
            record.append(routes.loc[i]['intersection_id'])
            record.append(routes.loc[i]['tollgate_id'])
            record.append('[' + str(current_time) + ',' + str(current_time + datetime.timedelta(minutes=20)) + ')')
            for link_id in links:
                predict_time = predict_time + morning_predict_dict[int(link_id)][0].loc[d][t] + morning_predict_dict[int(link_id)][1].loc[d][t] / 2
                
            record.append(predict_time)

            submissions.append(record)
            current_time = current_time + datetime.timedelta(minutes=20)
            
        start_time = start_time + datetime.timedelta(days=1)
        
    #afternoon
    start_time = window_date + datetime.timedelta(hours=17)

    for d in range(7):
        current_time = start_time
        for t in range(6):
            predict_time = 0
            real_time = 0
            record = []
            record.append(routes.loc[i]['intersection_id'])
            record.append(routes.loc[i]['tollgate_id'])
            record.append('[' + str(current_time) + ',' + str(current_time + datetime.timedelta(minutes=20)) + ')')
            for link_id in links:
                predict_time = predict_time + afternoon_predict_dict[int(link_id)][0].loc[d][t] + afternoon_predict_dict[int(link_id)][1].loc[d][t] / 2
                
            record.append(predict_time)

            submissions.append(record)
            current_time = current_time + datetime.timedelta(minutes=20)
            
        start_time = start_time + datetime.timedelta(days=1)

In [8]:
submission_df = pd.DataFrame(submissions).rename(columns={0:'intersection_id', 1:'tollgate_id', 2:'time_window', 3:'avg_travel_time'})

In [9]:
submission_df.to_csv(validation_path + '/prediction/combine/prediction_m1_m2.csv', index=False)

In [14]:
submission_df

,intersection_id,tollgate_id,time_window,avg_travel_time
0,A,2,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",66.634701
1,A,2,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",70.649504
2,A,2,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",70.993241
3,A,2,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",66.303417
4,A,2,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",67.784202
5,A,2,"[2016-10-18 09:40:00,2016-10-18 10:00:00)",64.678761
6,A,2,"[2016-10-19 08:00:00,2016-10-19 08:20:00)",65.891600
7,A,2,"[2016-10-19 08:20:00,2016-10-19 08:40:00)",70.785648
8,A,2,"[2016-10-19 08:40:00,2016-10-19 09:00:00)",71.328278
9,A,2,"[2016-10-19 09:00:00,2016-10-19 09:20:00)",66.179242
10,A,2,"[2016-10-19 09:20:00,2016-10-19 09:40:00)",67.642928
11,A,2,"[2016-10-19 09:40:00,2016-10-19 10:00:00)",64.516829
12,A,2,"[2016-10-20 08:00:00,2016-10-20 08:20:00)",66.634106
13,A,2,"[2016-10-20 08:20:00,2016-10-20 08:40:00)",70.782110
14,A,2,"[2016-10-20 08:40:00,2016-10-20 09:00:00)",71.574119
15,A,2,"[2016-10-20 09:00:00,2016-10-20 09:20:00)",66.705521
16,A,2,"[2016-10-20 09:20:00,2016-10-20 09:40:00)",67.970295
17,A,2,"[2016-10-20 09:40:00,2016-10-20 10:00:00)",64.464975
18,A,2,"[2016-10-21 08:00:00,2016-10-21 08:20:00)",66.500579
19,A,2,"[2016-10-21 08:20:00,2016-10-21 08:40:00)",70.507310
20,A,2,"[2016-10-21 08:40:00,2016-10-21 09:00:00)",72.153222
21,A,2,"[2016-10-21 09:00:00,2016-10-21 09:20:00)",67.561786
22,A,2,"[2016-10-21 09:20:00,2016-10-21 09:40:00)",67.905802
23,A,2,"[2016-10-21 09:40:00,2016-10-21 10:00:00)",64.347093
24,A,2,"[2016-10-22 08:00:00,2016-10-22 08:20:00)",65.862977
25,A,2,"[2016-10-22 08:20:00,2016-10-22 08:40:00)",68.901783
26,A,2,"[2016-10-22 08:40:00,2016-10-22 09:00:00)",72.448819
27,A,2,"[2016-10-22 09:00:00,2016-10-22 09:20:00)",67.258413
28,A,2,"[2016-10-22 09:20:00,2016-10-22 09:40:00)",67.744084
29,A,2,"[2016-10-22 09:40:00,2016-10-22 10:00:00)",64.752475
...,...,...,...,...
474,C,3,"[2016-10-20 17:00:00,2016-10-20 17:20:00)",152.378580
475,C,3,"[2016-10-20 17:20:00,2016-10-20 17:40:00)",152.849445
476,C,3,"[2016-10-20 17:40:00,2016-10-20 18:00:00)",161.016653
477,C,3,"[2016-10-20 18:00:00,2016-10-20 18:20:00)",166.335412
478,C,3,"[2016-10-20 18:20:00,2016-10-20 18:40:00)",177.293993
479,C,3,"[2016-10-20 18:40:00,2016-10-20 19:00:00)",164.584849
480,C,3,"[2016-10-21 17:00:00,2016-10-21 17:20:00)",152.089362
481,C,3,"[2016-10-21 17:20:00,2016-10-21 17:40:00)",153.697795
482,C,3,"[2016-10-21 17:40:00,2016-10-21 18:00:00)",159.501180
483,C,3,"[2016-10-21 18:00:00,2016-10-21 18:20:00)",164.718702
484,C,3,"[2016-10-21 18:20:00,2016-10-21 18:40:00)",177.386876
485,C,3,"[2016-10-21 18:40:00,2016-10-21 19:00:00)",163.857153
486,C,3,"[2016-10-22 17:00:00,2016-10-22 17:20:00)",155.903199
487,C,3,"[2016-10-22 17:20:00,2016-10-22 17:40:00)",153.620901
488,C,3,"[2016-10-22 17:40:00,2016-10-22 18:00:00)",161.204286
489,C,3,"[2016-10-22 18:00:00,2016-10-22 18:20:00)",164.725105
490,C,3,"[2016-10-22 18:20:00,2016-10-22 18:40:00)",190.761746
491,C,3,"[2016-10-22 18:40:00,2016-10-22 19:00:00)",165.808427
492,C,3,"[2016-10-23 17:00:00,2016-10-23 17:20:00)",156.177799
493,C,3,"[2016-10-23 17:20:00,2016-10-23 17:40:00)",153.968773
494,C,3,"[2016-10-23 17:40:00,2016-10-23 18:00:00)",160.216500
495,C,3,"[2016-10-23 18:00:00,2016-10-23 18:20:00)",165.455409
496,C,3,"[2016-10-23 18:20:00,2016-10-23 18:40:00)",177.919979
497,C,3,"[2016-10-23 18:40:00,2016-10-23 19:00:00)",166.868426
498,C,3,"[2016-10-24 17:00:00,2016-10-24 17:20:00)",152.059107
499,C,3,"[2016-10-24 17:20:00,2016-10-24 17:40:00)",153.456780
500,C,3,"[2016-10-24 17:40:00,2016-10-24 18:00:00)",159.010993
501,C,3,"[2016-10-24 18:00:00,2016-10-24 18:20:00)",164.801238
502,C,3,"[2016-10-24 18:20:00,2016-10-24 18:40:00)",176.683739
503,C,3,"[2016-10-24 18:40:00,2016-10-24 19:00:00)",164.201932